<nav [class.hidden]="!isNavbarVisible">
  <div class="nav-container">
    <!-- Navigation Card with PrimeNG Menubar -->
    <div class="nav-card">
      <ul class="nav-list">
        <li class="nav-item-wrapper" *ngFor="let item of items">
          <a
            class="nav-link"
            [ngClass]="item.styleClass"
            (click)="handleItemClick($event, item)">
            {{ item.label }}
          </a>
        </li>
        <li class="nav-item-wrapper nav-avatar">
          <img class="nav-avatar-img" src="/abhinav.png" alt="Abhinav" />
        </li>
      </ul>
    </div>
  </div>
</nav>